{% load static %}

<!DOCTYPE html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173909279-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173909279-1');
    </script>
    <script type="text/javascript" src="{% static 'js/gracestation.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/gracestation.css' %}">

    <title>Grace Station</title>

</head>

<body>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="error">{{message}}</div>
      {% else %}
        <div class="success">{{message}}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div id="menu">
    <img id="menu_icon" onclick="toggleDisplay('menu_contents')" src="/static/images/menu.svg"/>
    <div id="menu_contents" style="display:none;">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'resume' %}">Resume</a>
      <a href="{% url 'portfolio' %}">Portfolio</a>
      <a href="/personal/home">Personal</a>
    </div>
  </div>

  <div id="content">

      {% block content %}

      {% endblock %}

  </div>

  <div id="footer">
  </div>
</body>
</html>
