{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/functions.css' %}">
  <title>Project Work</title>

</head>

<body>
All of the work I have done has been within the University of Texas's
secure environment and is not accessible for external users.


Toolbox - display with hover text
Mainframe
Task Manager // JCL for batch process automation
Pype
UTDirect
Apollo
Login and streamlined, consistent user Experience
Oracle
SQL Server

The University of Texas at Austin Office of the Registrar (2016)
Online Course Inventory
Mainframe Log File
Grades maintenance - legacy programs older than I am


International Office (2018)
ERD for study Abroad rewrite
server maintenance

Dell
Communications Flowchart
Custom Emails Videos?
Training Suite 

 </body>
 </html>
