<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173909279-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-173909279-1');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'js/gracestation.js' %}"></script>
        <link href="{% static 'css/resume_style.css' %}" rel="stylesheet">

        <title>Grace Hayden</title>
    </head>
    <body>
        <div id="menu">
          <img id="menu_icon" onclick="toggleDisplay('menu_contents')" src="/static/images/menu.svg">
          <div id="menu_contents" style="display:none;">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'resume' %}">Resume</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
            <a href="/personal/home">Personal</a>
          </div>
        </div>

        <div id="content">
            <div id="contact_info">
              Grace E. Hayden <br><br>
              GraceEHayden@gmail.com <br><br>
            </div>

            <hr>

            <div id="resume_title">
                <h1>Full-Stack Software Developer</h1>
            </div>

            <hr>

            <div class="section_heading">Skills:</div>
            <div class="flex-container" id="skills_container">
              <div class="column1">
                  <ul>
                      <li>Python/Django</li>
                      <li>Accessibility</li>
                      <li>Git</li>
                      <li onMouseOver="show('git_url')" onMouseOut="hide('git_url')">
                          <a  target="_blank" style="text-decoration: none; color: black;" href="https://github.com/graceehayden/">
                            Version Control
                          </a>
                          <div class="examples_popup" id="git_url">
                            Click to view my Github
                          </div>
                      </li>
                      <li>SQL, PostgreSQL</li>
                  </ul>
              </div>
              <div class="column2">
                  <ul>
                    <li>RESTful APIs</li>
                    <li onMouseOver="show('js_examples')" onMouseOut="hide('js_examples')">
                      JavaScript
                      <div class="examples_popup" id="js_examples">
                          <ul>
                            <li>Vue, React</li>
                            <li>API calls</li>
                            <li>Internationalization</li>
                            <li>UI styling</li>
                        </ul>
                      </div>
                    </li>
                    <li>Batch Processing and Task Management</li>
                    <li>MVC Architecture </li>
                    <li>Documentation and ERDs</li>
                  </ul>
              </div>
              <div class="column3">
                  <ul>
                    <li>Redis, Elasticsearch</li>
                    <li>Jira</li>
                    <li>Scrum Methodologies</li>
                    <li>Google Analytics</li>
                    <li>Jenkins, Lighthouse, Rancher</li>
                  </ul>
              </div>
            </div>
            <br>

            <div class="section_heading">
              <hr><br>
              Experience:</div>
              <div class="job_details">
                  <b>Planned Parenthood Federation of America</b><br>
                  Software Developer (10/2020 - present) <br>
              </div>
              <ul class="job_duties">
                  <li>Build on path to care and learn applications (Django CMS + Vue).</li>
                  <li>Participate in daily scrum ceremonies and roadmap planning.</li>
                  <li>Documentation of legacy systems.</li>
              </ul>

            <div class="job_details">
                <b>Dell Technologies</b><br>
                Web Developer (01/2019 - 10/2020) <br>
            </div>
            <ul class="job_duties">
                <li>Gathered technical requirements and deliver customized managed deployment project applications.</li>
                <li>Developed custom solutions on QuickBase SaaS with JS and jQuery.</li>
                <li>Continuous integration of application needs as they arose.</li>
                <li>Trained project managers on platform; created HTML+JS+CSS training website.</li>
            </ul>

            <div class="job_details">
                <b>University of Texas (International Office) </b><br>
                Senior Software Developer/Analyst (03/2018 - 01/2019) <br>
            </div>
            <ul class="job_duties">
                <li>Gathered requirements from stakeholders, clients, and team members.</li>
                <li>Converted legacy systems from mainframe back end to Oracle with Python/Django front end.</li>
                <li>Conducted maintenance of department-owned server.</li>
                <li>Tested all changes comprehensibly in test environments with Github version control.</li>
                <li>Manage, configure and apply updates to custom University virtual machines for local development (Linux CLI).</li>
            </ul>

            <div class="job_details">
                <b>University of Texas (Office of the Registrar)</b><br>
                Software Developer/Analyst (9/2015 - 03/2018)
            </div>
            <ul class="job_duties">
                <li>Lead UT grade processing stewardship, analysis, and student records
                semester roll over.</li>
                <li>Maintained legacy systems.</li>
                <li>Mentored and trained new team members.</li>
                <li>Provided user training, documentation and support for internally
                developed and supported applications. </li>
            </ul>

            <div class="job_details">
                <b>East Austin College Prep</b><br>
                Special Education Teacher and Science Tutor (01/2014 - 08/2015)
            </div>
                <ul class="job_duties">
                <li>Conducted critical client and stakeholder conversations including progress reviews.</li>
                <li>Created bilingual Spanish/English documentation of weekly activities and progress.</li>
                <li>Developed plans based on national standards and legal requirements.</li>
            </ul>

            <div class="section_heading">Education:</div>
            <div class="job_details">
                University of Texas
                B.A. in Biology, 2008 <br>
            </div>

            <div class="section_heading">Other Interests:</div>
            <div class="job_details">
                Dreamtime Animal Sanctuary (weekly volunteer, 2019-2020) <br>
                Those Texas Women - fundraising organization for the ACLU,
                Planned Parenthood, and Casa Marianella (cofounder, 2016-2018)
            </div>

            <div class="section_heading">Languages:</div>
            <div class="job_details">
                English<br>
                Spanish<br>
                Dutch (beginner)<br>
            </div>
        </div>
    </body>
</html>
