{% load static %}

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="{% static 'css/resume_style.css' %}">

        <title>Grace Hayden</title>
    </head>
    <body>
        <div id="content">
            <div id="contact_info">
            Grace E. Hayden <br />
            GraceEHayden@gmail.com <br />
            Austin, TX <br />
            </div>

            <hr />

            <div id="resume_title">
                <h1>Software Developer</h1>
            </div>

            <hr />

            <div class="section_heading">Skills / Expertise :</div>
            <div class="column1">
                <ul>
                    <li>Python with expertise in Django </li>
                    <li>Effective UI via Accessible HTML/CSS </li>
                    <li>Git </li>
                    <li>SQL and Oracle </li>
                    <li onmouseover="js_popup">JavaScript</li>
                </ul>
            </div>
            <div class="column2">
                <ul>
                    <li>JavaScript MVC Architecture </li>
                    <li>Effective Client/Customer communication </li>
                    <li>Stewardship </li>
                    <li>Server Maintenance </li>
                    <li>Teamwork and collaboration</li>
                </ul>
            </div>

            <hr />
            
            <div class="section_heading">Experience:</div>
            <div class="job_details">
                <b>Dell Technologies</b><br />
                Web Developer (01/2019 - present) <br />
            </div>
            <ul class="job_duties">
                <li>Assist in development required for customized managed deployment</li>
                <li>Develop within cloud-based SaaS</li>
                <li>Work with project managers to determine technical resolutions for system maintenance </li>
            </ul>

            <div class="job_details">
                <b>University of Texas (International Office) </b><br />
                Senior Software Developer/Analyst (03/2018 - 01/2019) <br />
            </div>
            <ul class="job_duties">
                <li>Maintenance of database, UI and system design, and extensive stewardship.</li>
                <li>Convert International Scholars, ESL, and Study Abroad
                legacy system to Python and Oracle.</li>
                <li>Gather requirements from stakeholders, clients, and team members.</li>
                <li>Test all changes comprehensibly, regardless of new or legacy development.</li>
            </ul>

            <div class="job_details">
                <b>University of Texas (Office of the Registrar)</b><br />
                Software Developer/Analyst (03/2016 - 03/2018)
            </div>
            <ul class="job_duties">
                <li>Lead UT grade processing stewardship, analysis, and student records
                semester roll over.</li>
                <li>Maintained legacy systems.</li>
                <li>Mentored and trained new team members.</li>
                <li>Provided user training, documentation and support for internally
                developed and supported applications. </li>
            </ul>

            <div class="job_details">
                <b>University of Texas </b><br />
                Software Developer Trainee (9/2015 - 03/2016)
            </div>

            <div class="job_details">
                <b>East Austin College Prep</b><br />
                Special Education Teacher and Science Tutor (01/2014 - 08/2015)
            </div>
                <ul class="job_duties">
                <li>Conducted critical client and stakeholder conversations including progress reviews.</li>
                <li>Created bilingual Spanish/English documentation of weekly activities and progress.</li>
                <li>Developed plans based on national standards and legal requirements.</li>
            </ul>

            <div class="section_heading">Education:</div>
            <div class="job_details">
                University of Texas
                B.A. in Biology, 2008 <br />

            </div>
            <div class="section_heading">Languages:</div>
            <div class="job_details">
                English<br />
                Spanish<br />
            </div>

        </div>
    </body>
</html>
