body, html {
 height: 100%
}

hr {
    margin: auto;
    width: 40%;
}

.bgimg {
    height: 100%;
    background-image: url("/static/images/coming_soon_background.png");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.center {
  text-align: center;
}

#resume_link {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px;
  background-color: white;
}

#index_header {
    text-align: center;
    padding-top: 15% ;
    font-size: 50px;
}

#index_content {
  width: 40%;
  text-align: center;
  border: 1px;
}
