body {
    font: helvetica;
    height: 100%;
    background-image: url("/static/images/coming_soon_background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    font-size: 25px;
    overflow: scroll;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 80%;
}

h1{
    padding-top: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    color:#555;  /* #008b8b; */
}

h2{
    font-size: 25px;
    color: #555;
    text-align: center;
}

button{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

div {
    margin-top: 15px;
}

img {
    width: 60%;
    height: auto;
    margin-top: 15px;
    margin-left: 100px;
    display: block;
    text-align: center;
}

p{
    color: #777;
}

li {
    font: helvetica;
    color: #777;
    margin-top: 5px;
}

.chapter{
    margin: 10px 10px 10px 10px;
    border: 1px black;
}

.collapsible {
    background-color: #777; /* #eee */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #ccc;
    color: #555;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

/*:after {
  content: "\2796";
}
*/

.project_details {
    display: none;
}

.toolbox {
    background-color: #008b8b;
    width: 50%;
    height: 50px;
    text-align: center;
}
.toolbox_details {
    display: none;
    background-color: white;
    width: 30%;
    height:auto;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font: helvetica;
  visibility: hidden;
  width: 300px;
  color: white;
  background-color: #777;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: -20%;
  margin-left: 60%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#intro {
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px;
    width: 65%;
    font-size: 16px;
    font: helvetica;
    color: #777;
}

#resume_link {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#content {
  width: 80%;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px;
  background-color: #ffffe8;
}

#index_header {
    text-align: center;
    padding-top: 15% ;
    font-size: 50px;
}

#index_content {
  width: 40%;
  text-align: center;
  border: 1px;
}
