body {
  background-color: #003a3d;
}

#content {
  width: 80%;
  margin-left: 10%;
  background-color: #F0F0F0;
  border: 2px solid #2e1114;
  padding: 5px 10px 5px 10px;
  font-family: "Helvetica";
  height: 100%;
}

#container1 {
  width: 60%;
  float: left;
  display: inline;
}

#container2 {
  width: 30%;
  float: left;
}

h1 {
  color:#44004e;
}

hr {
  color: #44004e;
}

div {
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact_info {
  font-weight: bold;
  font-size: 16px;
}

#resume_title {
  text-align: center;
  font-weight: bold;
}

.section_heading {
  font-weight: bold;
  color:#44004e;
  font-size: 18px;
  display: block;
  clear: left;
}

.column1 {
  float: left;
  width: 50%;
  display: inline;
}
.column2 {
  float: left;
  width: 50%;
}

.job_details .job_duties {
  margin-left: 10%;
  font-size: 14px;
}
