{% load static %}

<!DOCTYPE html>

<head>
    <title>International Grace Station</title>
</head>
<body style="background-color: black;">
  <center>
    <div style="color: white;">
      <h1>Woopsie Daisy!</h1>
      <div>Looks like that page doesn't exist.</div>
      <div><a href="{% url 'index' %}">Try Again</a></div>
    </div>
    <br>
    <br>
    <div>
      <iframe src="https://giphy.com/embed/l46CwEYnbFtFfjZNS" width="480" height="472" frameBorder="0" class="giphy-embed"></iframe>
    </div>
  </center>
</body>
</html>
